.compartida{
    color: mediumslateblue;
    font-weight: bold;
}

p{
    font-size: 10px;
}

.texto{
    color: crimson;
}

h2{
    border: 5px solid;
    color: blue;
    border-radius: 15px;
}